.box1{
    background-color:skyblue;
}

.box2{
    background-color:skyblue;
}

.box3{
    background-color:cornsilk;
}

.box4{
    background-color:crimson;
}

.box5{
    background-color:crimson;
}

.box6{
    background-color:cornsilk;
}

.box7{
    background-color:blueviolet;
}

.box8{
    background-color:blueviolet;
}

.box9{
    background-color:cornsilk;
}

.box10{
    background-color:crimson;
}

.box11{
    background-color:cornsilk;
}

.box12{
    background-color:crimson;
}

.box13{
    background-color:crimson;
}

.box14{
    background-color:cornsilk;
}

.box15{
    background-color:blueviolet;
}

.box16{
    background-color:blueviolet;
}

.box17{
    background-color:cornsilk;
}

.box18{
    background-color:crimson;
}

.box19{
    background-color:cornsilk;
}

.box20{
    background-color:crimson;
}

.box21{
    background-color:gray;
}

.box22{
    background-color:gray;
}

.box23{
    background-color:gray;
}

.box24{
    background-color:gray;
}

.box25{
    background-color:gray;
}

.box26{
    background-color:gray;
}

.box27{
    background-color:gray;
}

.box28{
    background-color:gray;
}

.box29{
    background-color:gray;
}

.box30{
    background-color:gray;
}

.box31{
    background-color:crimson;
}

.box32{
    background-color:cornsilk;
}

.box33{
    background-color:blueviolet;
}

.box34{
    background-color:blueviolet;
}

.box35{
    background-color:cornsilk;
}

.box36{
    background-color:crimson;
}

.box37{
    background-color:cornsilk;
}

.box38{
    background-color:crimson;
}

.box39{
    background-color:pink;
}
.box40{
    background-color:pink;
}

.box41{
    background-color:pink;
}

.box42{
    background-color:pink;
}

.box43{
    background-color:pink;
}

.box44{
    background-color:pink;
}

.box45{
    background-color:pink;
}

.box46{
    background-color:pink;
}

.box47{
    background-color:pink;
}

.box48{
    background-color:pink;
}

.box49{
    background-color:crimson;
}

.box50{
    background-color:cornsilk;
}

.box51{
    background-color:blueviolet;
}

.box52{
    background-color:blueviolet;
}

.box53{
    background-color:cornsilk;
}

.box54{
    background-color:crimson;
}

.box55{
    background-color:cornsilk;
}

.box56{
    background-color:crimson;
}

.box57{
    background-color: olive;
}

.box72{
    background-color: olive;
}

.box73{
    background-color: olive;
}

.box74{
    background-color: olive;
}

.box75{
    background-color: olive;
}

.box76{
    background-color: olive;
}

.box77{
    background-color: olive;
}

.box78{
    background-color: olive;
}

.box79{
    background-color: olive;
}

.box80{
    background-color: olive;
}

.box81{
    background-color:crimson;
}

.box82{
    background-color:cornsilk;
}

.box83{
    background-color:blueviolet;
}

.box84{
    background-color:blueviolet;
}

.box85{
    background-color:cornsilk;
}

.box86{
    background-color:crimson;
}

.box87{
    background-color:lightblue;
}

.box88{
    background-color:lightblue ;
}

.box89{
    background-color:lightblue ;
}

.box104{
    background-color:lightblue ;
}

.box105{
    background-color:lightblue ;
}

.box106{
    background-color:lightblue ;
}

.box107{
    background-color:lightblue ;
}

.box108{
    background-color:lightblue ;
}

.box109{
    background-color:lightblue ;
}

.box110{
    background-color:lightblue ;
}

.box111{
    background-color:lightblue ;
}

.box112{
    background-color:lightblue ;
}

.box113{
    background-color:lightblue ;
}

.box114{
    background-color:lightblue ;
}

.box115{
    background-color:lightblue ;
}

.box116{
    background-color:lightblue ;
}

.box117{
    background-color:lightblue ;
}

.box118{
    background-color:lightblue ;
}

.box58{
    background-color:aquamarine ;
}

.box59{
    background-color:aquamarine ;
}

.box60{
    background-color:aquamarine ;
}

.box61{
    background-color:aquamarine ;
}

.box62{
    background-color:aquamarine ;
}

.box63{
    background-color:aquamarine ;
}

.box64{
    background-color:aquamarine ;
}

.box65{
    background-color:grey ;
}

.box66{
    background-color:grey ;
}

.box67{
    background-color:grey ;
}

.box68{
    background-color:grey ;
}

.box69{
    background-color:grey ;
}

.box70{
    background-color:grey;
}

.box71{
    background-color:grey;
}

.box90{
    background-color:grey;
}

.box91{
    background-color:grey;
}

.box92{
    background-color:grey;
}

.box93{
    background-color:grey;
}

.box94{
    background-color:grey;
}

.box95{
    background-color:grey;
}

.box96{
    background-color:grey;
}

.box97{
    background-color:aquamarine;
}

.box98{
    background-color:aquamarine;
}

.box99{
    background-color:aquamarine;
}

.box100{
    background-color:aquamarine;
}

.box101{
    background-color:aquamarine;
}

.box102{
    background-color:aquamarine;
}

.box103{
    background-color:aquamarine;
}



